@import url('https://fonts.googleapis.com/css?family=Rammetto+One|Roboto');

/*Define essa propriedades para
todos os elementos */
*{
  margin: 0px;
  padding: 0px;
  /*Muda a fonte de todos os elementos.
   Se for no body não muda dentro de input*/
  font-family: Roboto;
  color: #444444;
}

/*Formata a tag body*/
body{
  background-color: #DFDFDF;
}

/*Formata somente aquela div com classe "login"*/
.login {
  border: solid 2px #AFAFAF;
  width: 350px;

  padding: 15px;

  /*Centraliza o conteúdo/texto*/
  text-align: center;

  /*Centraliza o elemento*/
  margin: 20px auto;

  background-color: #FFFFFF;
}

/*pega tudo da classe "campo" que está dentro da classe "login"*/
.login .campo{
  padding: 5px 15px;
  font-size: 20px;
}

.login form input{
  margin-bottom: 15px;
}

.login .botao{
  padding: 10px 25px;
  /*Define o estilo, a largura e a cor em um comando só*/
  border: solid 1px #BFBFBF;
  background-color: #DFDFDF;
  font-size: 15px;
}

/*O elemento tem que ter as duas classes pra receber essa formatação*/
.login .botao.entrar{
  background-color: #4682B4;
  border-color: #708090;
  /*Altera a cor da fonte*/
  color: #FFFFFF;
}

.login a{
  color: #4682B4;
  /*Remover o underline do link*/
  text-decoration: none;
  font-size: 10px;
}

/*O hover altera as propriedades dos elementos quando passa o mouse por cima*/
.login a:hover{
  color: #708090;
}
