{% extends 'modelo.html' %}

{% load bootstrap4 %}
{% load static %}

{% block cabecalho %}

{% endblock %}

{% block conteudo %}

<div class="container">

  <div class="row mt-5">

    <div class="col-sm p-3 mt-4">

      <h2>Cadastro</h2>

      <form method="post">
        {% csrf_token %}

        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">
          Cadastrar
        </button>

      </form>

    </div>

  </div>

</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.mask.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {

    $("#id_nascimento").mask('00/00/0000');
    $("#id_nome").focus();

  });
</script>
{% endblock %}
